body {
font-family: "Manrope", sans-serif;
background-color: hsl(218, 23%, 16%) ;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
margin: 0;
padding: 0;
}

.advice-container {
  background-color: hsl(217, 19%, 24%);
  border-radius: 15px;
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}


.advice-detail {
  text-align: center;

}

.advice {
  color:hsl(193, 38%, 86%);
  font-size: 20px;
}

.slip {
 color: hsl(150, 100%, 66%);
 font-size: 10px;
 text-align: center;
 padding:15px;
 
}

.divider {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
}


.btn {
  border-color: hsl(150, 100%, 66%);
  background-color: hsl(150, 100%, 66%);
  border-radius: 30px;
  padding: 12px;
}

.btn:hover {
  border-color: hsl(150, 100%, 66%);
  background-color: hsl(150, 100%, 66%);
  box-shadow: 0 0 10px 3px hsl(150, 100%, 66%);

}

.button-detail {
  display:flex;
  justify-content: center;
  margin-top: -40px;
 
}


